.dark {
	background-color: #818181;
	color: white;
}
.light {
	background-color: #c4c4c4;
	border: solid 1px #818181;
	color: #444444;
}
.light,
.dark {
	padding: 10px;
	text-decoration: none;
	cursor: pointer;
	font-size: 0.9em;
}
