.saveGifComponent {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	width: 100%;
	.inputWrapper {
		display: flex;
		gap: 10px;
		width: 100%;
		padding: 10px;

		.instructionWrapper {
			display: flex;
			flex-direction: column;
			width: 40%;
			.instructionTitle {
				font-size: 16px;
				color: var(--color-grey17-grey5);
				margin: 0;
				padding: 0;
			}
			.instructionText {
				font-size: 14px;
				color: var(--color-grey17-grey5);
			}
		}

		.filenameWrapper {
			display: flex;
			flex-direction: column;
			width: 40%;
			.filenameLabel {
				font-size: 14px;
				color: var(--color-grey17-grey5);
				margin-bottom: 5px;
			}

			.filenameInput {
				padding: 8px;
				font-size: 14px;
				color: var(--color-grey17-grey5);
				border: 1px solid var(--color-grey17-grey5);
				box-sizing: border-box;
			}
			.errorMessage {
				color: red;
				font-size: 12px;
			}
		}

		.saveButtonWrapper {
			display: flex;
			justify-content: center;
			width: 20%;
			align-items: center;

			.saveButton {
				padding: 8px 16px;
				font-size: 14px;
				color: white;
				background-color: var(--color-blue3);
				cursor: pointer;
				width: 80%;
				border: none;

				&:disabled {
					background-color: var(--color-grey5);
					cursor: not-allowed;
				}
			}
		}
	}
}
