.timeSelector {
	position: relative;
	display: inline-block;
}

.timeSelectorButton {
	padding: 8px 12px;
	cursor: pointer;
	text-wrap: nowrap;
	background: var(--color-white-grey17);
	border: 0;
	outline: 0;
	display: flex;
	gap: 12px;
	font-size: 13px;
	border-radius: 5px;
}

.timeSelectorDropdown {
	position: absolute;
	bottom: 102%; /* Opens upwards */
	left: 0;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	padding: 12px;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	background: var(--color-white-grey17);
	&.openDown {
		bottom: auto; /* Reset bottom for downward opening */
		top: 102%; /* Opens downwards */
	}
}

.timeSelectorRow {
	padding-bottom: 8px;
	&:last-child {
		padding-bottom: 0;

		/* Target the last grid container in the last row */
		.timeSelectorGridContainer:last-child {
			/* Target the last grid in that container */
			.timeSelectorGrid:last-child {
				grid-template-columns: repeat(auto-fit, minmax(0, auto));
				justify-content: end;
			}
		}
	}
}

.timeSelectorDate {
	padding-bottom: 4px;
	font-weight: 500;
	color: var(--color-grey17-grey1);
	font-size: 13px;
}

.timeSelectorGridContainer {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.timeSelectorGrid {
	display: grid;
	gap: 5px;
}
.timeSelectorGrid2 {
	grid-template-columns: repeat(2, 1fr);
}
.timeSelectorGrid4 {
	grid-template-columns: repeat(4, 1fr);
}
.timeSelectorGrid6 {
	grid-template-columns: repeat(6, 1fr);
}

.timeSelectorCell {
	background: var(--color-grey19);
	border: 1px solid var(--color-grey13);
	color: #fff;
	font-family: var(--font-mono);
	font-size: 12px;
	padding: 5px 8px;
	text-wrap: nowrap;
	cursor: pointer;
	border-radius: 4px;
	transition: all 0.2s ease-in-out;

	&:hover {
		background-color: var(--color-blue3);
		border: 1px solid var(--color-blue3);
	}
	&.active {
		background-color: var(--color-blue3);
		border: 1px solid var(--color-blue3);
	}
}
