.RAPMesoAnimatorContainer {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.RAPMesoAnimator {
	flex-grow: 1;
	max-height: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	overflow: auto;
}
