.Navigation {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-white-grey19);
  transition: var(--themeChange);
  position: fixed;
  z-index: 100;
  box-shadow: -5px 0px 15px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -5px 0px 15px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -5px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.Logo {
  width: 300px;
  display: flex;
  gap: 13px;
  align-items: center;
  img {
    height: 30px;
    &:last-of-type {
      height: 20px;
    }
  }
}
.NavItems {
  display: flex;
  gap: 20px;
  align-items: center;
  &:last-of-type {
    width: 300px;
    justify-content: flex-end;
  }
  a {
    text-decoration: none;
    transition: color 0.2s ease;
    color: var(--color-black-white);
    &:hover {
      color: var(--color-blue3);
      text-decoration: none;
    }
  }
}
.NavItem {
  font-size: 18px;
  font-weight: 500;
}

.NavItemButton {
  font-size: 14px;
  font-weight: 500;
  background-color: #333;
  color: #fff;
  padding: 8px 20px;
  transition: background-color 0.2s ease;
  &:hover {
    background-color: var(--color-blue3);
  }
}

.Spacer {
  padding-top: 70px;
  width: 100%;
  display: block;
}
