NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_DATA_API_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
NEXTAUTH_SECRET=
VERCEL_URL=
VERCEL_PROTOCOL=
NEXT_PUBLIC_MEILISEARCH_HOST=
NEXT_PUBLIC_MEILISEARCH_KEY=

BLACKBAUD_APP_ID=
BLACKBAUD_APP_SECRET=

NEXT_PUBLIC_DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
DISCORD_STANDARD_ROLE_ID=
DISCORD_ADVANCED_ROLE_ID=
DISCORD_PREMIUM_ROLE_ID=
DISCORD_SPONSOR_ROLE_ID=