.OverlayPanel {
  position: absolute;
  left: 0;
  top: 0;
  width: 250px;
  text-align: left;
  border-radius: 4px;
  background-color: var(--color-grey17);
  padding: 4px;
  color: var(--color-grey5);
}
.overlayGroup {
  font-weight: bold;
  font-size: 12px;
}
.overlayItem {
  font-weight: normal;
  font-size: 11px;
  padding-left: 10px;
}
