.OverlayPanel {
	position: absolute;
	left: 33px;
	top: 0;
	width: 250px;
	text-align: left;
	border-radius: 4px;
	background-color: var(--color-grey17);
	color: var(--color-grey7);
	z-index: 1000;
}
.overlayGroup {
	font-weight: bold;
	font-size: 12px;
}
.overlayGroupTitle {
	border-top: 1px solid var(--color-grey15);
	padding: 4px 10px 4px;
	color: var(--color-grey1);
	display: flex;
	justify-content: space-between;
	&:hover {
		color: var(--color-white);
	}
}
.overlayItems {
	overflow: hidden;
}
.overlayItem {
	font-weight: normal;
	font-size: 12px;
	padding: 1px 14px;
	transition: 0.2s ease-in-out;
	&:hover {
		background-color: var(--color-grey14);
		color: var(--color-white);
	}
	&.active {
		background-color: var(--color-blue5);
		color: var(--color-white);
	}
}
.firstItem {
	padding: 4px 14px;
}
