.SidebarLink {
<<<<<<< HEAD
	a {
		display: block;
		font-family: var(--font-primary);
		font-size: 13px;
		font-style: normal;
		font-weight: 400;
		line-height: 13px;
		padding: 6px 0;
		color: var(--color-grey3);
		text-decoration: none;
		transition: color 0.25s ease;
		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}
=======
  a {
    display: block;
    font-family: var(--font-primary);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    padding: 6px 0 6px 4px;
    color: #c9c9c9;
    text-decoration: none;
    transition: color 0.25s ease;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
>>>>>>> origin/feature/NXL-7289682407-campus-weather-sidebar
}
