.ForecastTile {
  width: 220px;
  min-width: 220px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  height: 100%;

  h2 {
    margin: 0;
    padding: 8px 10px;
    background-color: var(--color-blue3-blue5);
    color: white;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    box-sizing: border-box;
  }
  .content {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--color-grey2-grey18);

    .info {
      flex: 1 1 45%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: var(--color-grey18-grey2);

      h3 {
        font-family: var(--font-primary);
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px; /* 166.667% */
        text-transform: uppercase;
      }
      svg {
        width: 85px;
        height: 85px;
        path {
          fill: var(--color-grey18-grey2);
        }
      }
      p {
        font-size: 12px;
      }
      .temp {
        margin-top: -6px;
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;
        .tempType {
          font-size: 14px;
          color: var(--color-grey15-grey5);
        }
        .tempValue {
          font-size: 27px;
          font-weight: 600;
          sup {
            font-size: 12px;
          }
        }
      }
      .wind {
        text-align: center;
        padding: 8px 7px 0 0;
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;
        svg {
          width: 25px;
          height: 25px;
          path {
            fill: var(--color-grey16-grey8);
          }
        }
        .windValue {
          color: var(--color-grey16-grey8);
          font-size: 11px;
          span {
            display: block;
          }
        }
      }
    }
  }
}
