.MultiButtonToggle {
  display: flex;
  transition: all var(--themeChange);
  &.inactive {
    opacity: 0.25;
    pointer-events: none;
    filter: grayscale(100%);
  }
}
.option {
  padding: 7px 13px;
  border: 1px solid var(--color-grey14);
  background-color: var(--color-grey19);
  border-left: none;
  cursor: pointer;
  text-align: center;
  transition: background-color var(--themeChange);
  font-size: 14px;

  &:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 1px solid var(--color-grey14);
  }
  &:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  &:hover {
    background-color: var(--color-grey16);
  }
  &.selected {
    background-color: var(--color-blue3);
  }
}
