.header {
  width: 600px;
  min-width: 600px;
  padding: 13px 20px;
  margin: 3px 0;
  transition: background-color var(--themeChange);
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: var(--color-grey7-grey13);
  position: relative;
  .headerText {
    h4 {
      margin: 0;
      padding: 0;
    }
    .ends {
      font-size: 12px;
    }
  }
  .colorSquare {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: inline-block;
  }
  .openToggleCarrot {
    position: absolute;
    top: 24px;
    right: 20px;
    transform-origin: 50% 50%;
  }
}

.contentWrapper {
  flex-grow: 1;
  overflow: hidden;
  width: 100%;
  font-size: 14px;
}
.content {
  padding: 20px 20px 30px;
  transition: color var(--themeChange);
  color: var(--color-grey17-grey4);
  font-size: 15px;
  width: 600px;
}
