.tabs {
  position: relative;
}
.tabLabels {
  display: flex;
  background: var(--color-grey5-grey19);
  justify-content: stretch;
}
.activeTab {
  background: var(--color-white-grey17);
  color: var(--color-grey15-grey1);
  padding: 5px 20px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.inactiveTab {
  color: var(--color-grey15-grey10);
  padding: 5px 20px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.tabContent {
  background: var(--color-white-grey17);
  color: var(--color-grey15-grey1);
  padding: 10px;
}
