.SatradAnimatorSettings {
  position: relative;
  p {
    margin: 0;
    padding: 12px 0 0;
    font-size: 12px;
    line-height: 12px;
  }
}
.group {
  display: flex;
  gap: 10px;
  align-items: center;
  b {
    display: block;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    background-color: var(--color-grey20);
    padding: 4px 7px;
    white-space: nowrap;
    border-radius: 4px;
  }
}

.padding {
  padding: 10px 0;
}
