.LinkAccordian {
  position: relative;
}
.title {
  background: #434343;
  padding: 10px 13px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.content {
  position: relative;
  padding: 5px 5px;
  overflow: hidden;
}
