@import "/src/styles/vars";

.MobileMenuItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.label {
  padding: 20px;
  font-size: 16px;
  text-decoration: none;
  font-weight: 400;
  color: var(--color-grey3);
  flex-grow: 1;
}
.arrow {
  padding: 15px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  color: var(--color-grey3);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  svg {
    transform: rotate(-90deg);
  }
}
.leftArrow {
  border-left: none;
  svg {
    transform: rotate(90deg);
  }
}
