.ForecastTile {
  flex: 0 1 calc(12.5% - 10px); /* Allow tiles to grow and shrink, but not smaller than 125px */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  height: 100%;

  h2 {
    margin: 0;
    padding: 8px 10px;
    background-color: var(--color-blue3);
    color: white;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    box-sizing: border-box;
  }
  .content {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--color-grey2-grey18);

    .info {
      flex: 1 1 50%;
      text-align: center;
      color: var(--color-grey18-grey2);

      h3 {
        font-family: var(--font-primary);
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
      }
      img {
        width: 75px;
        filter: invert(50%);
      }
      p {
        font-size: 12px;
      }
      .temp {
        font-size: 16px;
        margin: 0;
        padding-bottom: 10px;
      }
      .wind {
        margin: 0;
        padding-bottom: 10px;
      }
    }
  }
}
