.pill-selector {
	display: flex;
	flex-wrap: wrap;

	.pill-item {
		border-radius: 20px;
		background-color: #007bff;
		color: white;
		cursor: pointer;
	}

	.pill-item.selected {
		background-color: #0056b3;
		color: white;
	}

	&.columns-2 .pill-item {
		flex: 0 0 50%;
	}

	&.columns-3 .pill-item {
		flex: 0 0 33.33%;
	}

	&.columns-4 .pill-item {
		flex: 0 0 25%;
	}

	&.columns-5 .pill-item {
		flex: 0 0 20%;
	}

	&.columns-6 .pill-item {
		flex: 0 0 16.66%;
	}
}
