.pillSelector {
	display: flex;
	flex-wrap: wrap;

	&.columns-2 .pillItemWrapper {
		flex: 0 0 50%;
	}

	&.columns-3 .pillItemWrapper {
		flex: 0 0 33.33%;
	}

	&.columns-4 .pillItemWrapper {
		flex: 0 0 25%;
	}

	&.columns-5 .pillItemWrapper {
		flex: 0 0 20%;
	}

	&.columns-6 .pillItemWrapper {
		flex: 0 0 16.66%;
	}

	&.columns-7 .pillItemWrapper {
		flex: 0 0 14.3%;
	}

	&.columns-8 .pillItemWrapper {
		flex: 0 0 12.5%;
	}

	.pillItemWrapper {
		padding: 5px 10px;
		.pillItem {
			border-radius: 20px;
			color: var(--color-grey17-grey5);
			padding: 5px 20px;
			cursor: pointer;
			text-align: center;
			border: solid 1px var(--color-grey10);
			user-select: none;
		}

		.pillItemSelected {
			background-color: var(--color-blue3);
			color: white;
			border: solid 1px var(--color-blue3);
		}
	}
}
