.CampusWeatherDetail {
	display: flex;
	flex-wrap: wrap;
	width: 100%; /* Occupies the entire width of the parent */

	.CampusTitle {
		flex: 1 1 100%; /* Occupies the entire first row */
		text-align: center; /* Center the title */
	}

	.CurrentConditionsContainer {
		flex: 1 1;
		display: flex;
		flex-wrap: wrap;

		.weatherSymbol {
			flex: 1 1 100%; /* Occupies the entire first row within CurrentConditionsContainer */
			text-align: center;
			border-radius: 50%;
			margin: 0 auto;
		}

		.airTemperature {
			flex: 1 1 100%; /* Occupies the entire second row within CurrentConditionsContainer */
			text-align: center;
		}

		.apparentTemperature,
		.dewpointTemperature,
		.humidity,
		.wind {
			flex: 1 1;
			text-align: center;
		}
	}
	.Spacer {
		flex: 1 1 auto; /* Takes up remaining space */
	}

	.CampusLogo {
		flex: 1 1; /* Occupies 75% of the second row */
		text-align: center; /* Center the logo */
		margin: auto; /* Center the logo vertically */
	}

	.CampusForecastContainer {
		flex: 1 1 100%; /* Occupies the entire third row */
	}
}
