.CampusWeatherDetail {
	display: flex;
	flex-wrap: wrap;
	width: 100%;

	.CampusTitle {
		flex: 1 1 100%;
		text-align: center;
	}
	.Spacer {
		flex: 2 1 auto; /* Takes up remaining space */
	}

	.CampusLogo {
		flex: 1 1;
		text-align: center;
		margin: auto;
		padding: 50px;
	}

	.CampusForecastContainer {
		flex: 1 1 100%;
		.period {
			padding: 20px;
			h3,
			p {
				margin: 0;
				padding: 0;
			}
			p {
				font-size: 1em;
			}
		}
		.period:nth-child(odd) {
			background-color: rgba($color: #ffffff, $alpha: 0.1);
		}
	}
}
