.lsrTable {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;

	.searchbar {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		padding: 10px;

		span {
			color: var(--color-grey18-grey4);
			font-weight: 600;
		}

		input {
			padding: 7px 12px;
			flex-grow: 1;
			background-color: var(--color-grey1-grey20);
			color: var(--color-grey20-grey1);
			border: 1px solid var(--color-grey6-grey14);
			border-radius: 4px;

			&::placeholder {
				color: var(--color-grey12-grey10);
			}

			&:focus {
				outline: none;
				border-color: var(--color-blue3);
			}
		}
	}

	.loading {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 40px;
		color: var(--color-grey14-grey8);
		font-size: 16px;
	}

	& > div {
		height: auto;
		width: 100%;

		&:last-child {
			flex-grow: 1;
		}
	}
}
