@import '/src/styles/vars';

.SidebarNavigation {
	width: var(--sidebar-width);
	min-width: var(--sidebar-width);
	background: #222;
	color: #fff;
	z-index: 220;

	&.hide {
		display: none;
	}
	@media (max-width: $mobile-menu-breakpoint) {
		position: absolute;
		top: 0;
		height: 100%;
		transition: $sidebar-slide-transition;
	}
}
