@import "/src/styles/vars";

.HamburgerMenuIcon {
  display: none;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  @media (max-width: $mobile-menu-breakpoint) {
    display: flex;
  }
}
