$track-color: var(--color-grey5-grey15);
$thumb-color: var(--color-white);
$thumb-border: var(--color-grey3-white);
$track-border: var(--color-grey7-grey13);

.timelineScrubber {
  width: 100%;

  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 13px 0; // $thumb-height / 2
    width: 100%; // $track-width

    &:focus {
      outline: none;
    }

    &::-webkit-slider-runnable-track {
      width: 100%; // $track-width
      height: 8px; // $track-height
      cursor: pointer;
      background: $track-color;
      border-radius: 5px; // $track-radius
      border: 1px solid $track-border; // $track-border-width solid $track-border-color
    }

    &::-webkit-slider-thumb {
      border: 1px solid $thumb-border; // $thumb-border-width solid $thumb-border-color
      height: 26px; // $thumb-height
      width: 45px; // $thumb-width
      border-radius: 50px; // $thumb-radius
      background-image: url("/img/vertical-lines.png");
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-color: $thumb-color;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -9px; // $track-height / 2 - $thumb-height / 2
      box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.1);
    }

    &::-moz-range-track {
      width: 100%; // $track-width
      height: 8px; // $track-height
      cursor: pointer;
      background: $track-color;
      border-radius: 5px; // $track-radius
      border: 1px solid $track-border; // $track-border-width solid $track-border-color
    }
    &::-moz-range-thumb {
      border: 1px solid $thumb-border; // $thumb-border-width solid $thumb-border-color
      height: 26px; // $thumb-height
      width: 45px; // $thumb-width
      border-radius: 50px; // $thumb-radius
      background-image: url("/img/vertical-lines.png");
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-color: $thumb-color;
      cursor: pointer;
    }

    &::-ms-track {
      width: 100%; // $track-width
      height: 8px; // $track-height
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      border-width: 45px 0; // $thumb-width 0
      color: transparent;
    }

    &::-ms-fill-lower {
      background: $track-color; // darken($track-color, $contrast)
      border: 1px solid $track-border; // $track-border-width solid $track-border-color
      border-radius: 10px; // $track-radius * 2
    }
    &::-ms-fill-upper {
      background: $track-color;
      border: 1px solid $track-border; // $track-border-width solid $track-border-color
      border-radius: 10px; // $track-radius * 2
    }
    &::-ms-thumb {
      border: 1px solid $thumb-border; // $thumb-border-width solid $thumb-border-color
      height: 26px; // $thumb-height
      width: 45px; // $thumb-width
      border-radius: 50px; // $thumb-radius
      background-image: url("/img/vertical-lines.png");
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-color: $thumb-color;
      cursor: pointer;
    }
    &:focus::-ms-fill-lower {
      background: $track-color;
    }
    &:focus::-ms-fill-upper {
      background: $track-color;
    }
  }
}
