.SectorSelector {
	width: 100%;
	height: 100%;
	position: relative;
}
.globe {
	fill: var(--color-blue1-blue2);
}
.mapPath {
	fill: var(--color-grey2-grey16);
	transition: var(--themeChange);
}
.lakePath {
	fill: var(--color-blue1-blue2);
}
.statePath {
	fill: none;
	stroke: var(--color-white-grey18);
	stroke-width: 1px;
}
.graticule {
	fill: none;
	stroke: var(--color-grey6-grey12);
	stroke-width: 2px;
	opacity: 0.6;
	pointer-events: none;
}
.graticuleOutline {
	fill: none;
	stroke: var(--color-grey8-grey10);
	stroke-width: 4px;
	opacity: 0.8;
	pointer-events: none;
}
.point {
	stroke: black;
	stroke-width: 2px;
	pointer-events: none;
	user-select: none;
}
.pointRegion {
	cursor: pointer;
	fill: transparent;
	transition: ease all 0.25s;
	&:hover {
		fill: var(--color-blue3);
		stroke: var(--color-blue4);
		opacity: 0.8;
		stroke-width: 2px;
	}
}
.geoboxTrigger {
	cursor: pointer;
	fill: transparent;
}
.geobox {
	fill: var(--color-blue3);
	stroke: var(--color-blue4);
	opacity: 0;
	stroke-width: 2px;
	pointer-events: none;
	transition: ease all 0.25s;
}
.lineTrigger {
	cursor: pointer;
	fill: none;
	stroke: transparent;
	stroke-width: 40px;
}
.line {
	fill: none;
	stroke: var(--color-grey16-grey2);
	stroke-width: 3px;
	transition: ease all 0.25s;
	pointer-events: none;
}
.lineHover {
	fill: none;
	stroke: var(--color-blue4);
	stroke-width: 6px;
	transition: ease all 0.25s;
	pointer-events: none;
}
.tooltip {
	pointer-events: none;
	user-select: none;
	fill: var(--color-grey18-grey2);
	padding: 2px 5px;
	font-size: 10px;
	text-anchor: middle;
	position: absolute;
	transition: ease all 0.25s;
	z-index: 100;
}
.lineName {
	pointer-events: none;
	user-select: none;
	font-size: 14px;
	color: white;
	background: #333;
	border: 1px solid #999;
	padding: 2px 5px;
	position: absolute;
	transition: ease all 0.25s;
	z-index: 100;
}
