.productInfo {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 10px;
	color: var(--color-grey17-grey2);

	&ColumnLeft {
		flex: 1;
		min-width: 200px;

		p {
			font-size: 14px;
			margin: 0;
		}
	}

	&ColumnCenter {
		flex: 1;
		text-align: center;

		img {
			max-height: 200px;
			width: auto !important;
		}
	}

	&ColumnRight {
		flex: 3;
		font-size: 14px;
		min-width: 200px;
	}
}

@media (max-width: 768px) {
	.productInfo {
		flex-direction: column;
	}
}
